<footer>
    <div class="footer-area">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="footer-content">
              <div class="footer-head">
                <div class="footer-logo">
                  <h2><span>e</span>Legant</h2>
                </div>

                <p>Get Acess To Your Orders, Wishlist and Recommendation.</p>
                <div class="footer-icons">
                  <ul>
                    <li>
                      <a href="https://www.facebook.com/campaign/landing.php?campaign_id=14884913640&extra_1=s%7Cc%7C550525806177%7Ce%7Cfacebook%20login%7C&placement=&creative=550525806177&keyword=facebook%20login&partner_id=googlesem&extra_2=campaignid%3D14884913640%26adgroupid%3D128696221912%26matchtype%3De%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D%26target%3D%26targetid%3Dkwd-1409285535%26loc_physical_ms%3D9050511%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gclid=Cj0KCQiA2NaNBhDvARIsAEw55hiy-015FZZdmRTY_MwUhnbtYK9bEXyhOxcbi6_JMQf3nyD9zZ2y0BUaAks3EALw_wcB"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li>
                      <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="https://www.instagram.com/accounts/login/?hl=en"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                      <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- end single footer -->
          <div class="col-md-4">
            <div class="footer-content">
              <div class="footer-head">
                <h4>information</h4>
                <p>
                Elegance is the only beauty that never fades.
                </p>
                <div class="footer-contacts">
                  <p><span>Tel:</span> +286 466 789</p>
                  <p><span>Email:</span> elegant@12.com</p>
                  <p><span>Working Hours:</span> 9am-5pm</p>
                </div>
              </div>
            </div>
          </div>
          <!-- end single footer -->
          <div class="col-md-4">
            <div class="footer-content">
              <div class="footer-head">
                <h4>Instagram</h4>
                <div class="flicker-img">
                  <a href="#"><img src="../../../assets/footer5.jpg" alt=""></a>
                  <a href="#"><img src="../../../assets/footer1.jpg" alt=""></a>
                  <a href="#"><img src="../../../assets/footer3.jpg" alt=""></a>
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-area-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="copyright text-center">
              <p>
                &copy; Copyright <strong>eLEGANT</strong>. All Rights Reserved
              </p>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->
